.button {
	display: flex;
	gap: 0.5em;
	flex-direction: row-reverse;
	align-items: center;
	color: blue;
	transition: 0.2s ease-out;
	border: 1px solid rgba(0, 0, 255, 0.3);
	border-radius: 16px;
	padding: 0.4em 0.8em;
}

.title {
	font-size: clamp(14px, 2vw, 18px);
}

.button:hover {
	color: violet;
	border: 1px solid rgba(238, 130, 238, 0.6);
}
