.footer {
	align-self: end;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: clamp(12px, 1.5vw, 14px);
	padding: 3% 0;
	font-weight: 400;
}

.link {
	color: blue;
	text-decoration: underline;
	transition: 0.2s ease-out;
	text-underline-offset: 0.5em;
}

.link:hover {
	color: violet;
	text-underline-offset: 0.4em;
}
