.footer {
	align-self: end;
	padding: 3% 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.link {
	color: blue;
	text-decoration: underline;
	text-decoration-color: blue;
	transition: 0.2s ease-out;
	text-underline-offset: 0.5em;
}

.link:hover {
	color: violet;
	text-decoration-color: violet;
	text-underline-offset: 0.4em;
}
