*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select,
address {
  font: inherit;
  letter-spacing: inherit;
  color: inherit;
  outline: none;
}

select,
input,
button,
textarea {
  border: none;
  background: none;
  appearance: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}
